* {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
}

.side__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 300px;
}
.side__bar--sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
}

.side__bar--sections a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: all 0.25s ease-in-out;
}

.close {
  color: #dc143c;
  transition: all 0.25s ease-in-out;
}

.close:hover {
  opacity: 0.5;
}

.side__bar--sections a:hover {
  opacity: 0.5;
}

.menu-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.menu-icon i:nth-child(2) {
  position: absolute;
}

.hide {
  display: none;
}
